# Virtual Environment
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# Logs
logs/
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.db-journal

# Streamlit
.streamlit/

# Project Caches
cache/
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db
